<div style="background-color:#EEE">
	<h1>WRITE A NEW POST</h1>
	<form action="/wall/posts" method="POST">
		WRITER : <input type="text" name="writer"><br>
		TITLE : <input type="text" name="title"><br>
		CONTENT : <textarea cols="40" rows="8" name="content"></textarea> 
	</form>
</div>
